<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

        <!-- FormArray -->
        <div [formArrayName]="hobbies.id">
          <h4>Your Hobbies</h4>
          <button
            class="btn btn-default"
            type="button"
            (click)="hobbies.onAddHobby()">Add Hobby</button>
            
          <div
            class="form-group"
            *ngFor="let hobbyControl of hobbies.getControls(); let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>

        <!-- Error Message -->
        <span
          *ngIf="IsFormInvalid()"
          class="help-block">Invalid Data</span>
        
        <!-- Submit Button -->
        <button class="btn" type="submit">Submit</button>
      </form>

    </div>
  </div>
</div>
